body {
  background-color: rgb(255, 69, 1);
}

.container-navbar {
    background-color: #00ff62d6;
width: 100%;
height: 100px;
}

.ul-navbar {
display: flex;
height: 100px;
justify-content: center;
align-items: ;
}
.ul-navbar {
border: 2px solid rgb(255, 255, 255);
list-style-type: none;
padding: 20px;
margin: 5px;
color: aliceblue;
}